/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

html, body, .app-container {
  height: 100%;
  background-color: #1e1e2f;
  font-family: Georgia;
}

p {
  color: white;
  text-align: center;
}

nav {
  grid-area: nav;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

article {
  grid-area: article;
}

/* Home Page */
.page-home {
  display: grid;

  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  width: 100vw;
  height: 100vh;

  max-width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto; 
}

/* Crytpo Page */
.page-crypto {
  display: grid;

  grid-template-areas:
    "header"
    "main"
    "footer";

  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  width: 100vw;
  height: 100vh;

  max-width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}

/* For all pages */
.page-home h1, .page-crypto h1 {
  color: red;
  font-size: 40px;
  text-align: center;
  text-decoration: underline;
  margin-top: 10px;
  
}

.page-home h2, .page-crypto h2 {
  color: green;
  font-size: 20px;
  text-align: center;
}

.page-home p, .page-crypto p {
  color: white;
  text-align: center;
  font-size: 16px;
}

/* Animations Page */
.page-animations {
  display: grid;

  grid-template-areas:
    "nav"
    "main"
    "footer";

  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  width: 100vw;
  height: 100vh;

  max-width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
  background-color: #1e1e2f;
}

/* Capstone Page */
.page-capstone {
  display: grid;

  grid-template-areas:
    "nav"
    "main"
    "footer";

  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  width: 100vw;
  height: 100vh;

  max-width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
  background-color: #1e1e2f;
}

footer {
  grid-area: footer;
}

/* NavBar Component */
.navbar {
  max-width: auto;

  padding-right: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-right: 0;
  margin-left: 0;
}

/* Footer Component */
.footer {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-image {
  width: 100%;
  max-width: 800px;
  display: block;
  margin: 0 auto 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.article {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.error-message {
  color: #fff;
  text-align: center;
  margin-top: 20px;
}

/* Article, responsive adjustment for smaller screens */
@media (max-width: 768px) {
  .article {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .article {
    grid-template-columns: 1fr;
  }
}